<!--         <div class="col-sm-3">
          <div class="thumbnail">
            <div class="delight-icon-services">
              <i class="icon-heart"></i>
            </div>
            <div class="caption">
              <h2><%#= link_to designer.name.upcase, designer %></h2>
            </div>
          </div>
        </div> -->


<!-- <section id="gallery">
      <div class="container">
        <div class="row divide"> -->
          <%# @businesses.each do |business| %>
            <div class="col-sm-4 col-md-3 ">

              <% if !business.profile_photo? %>
  
                <div class="thumbnail-gallery" style="background-image:url('https://s3.amazonaws.com/consignnyc/placeholder-business.png'); background-size:cover" height="200">
                </div>

              <% else %>

                <div class="thumbnail-gallery" style="background-image:url('<%= business.profile_photo %>'); background-size:cover" height="200">
                </div>
              <% end %>


              <span class="span"><%= link_to business.name.upcase, business %><span><br>
              <%= link_to business.borough.name.upcase, business.borough %> <i class="fa fa-heart"></i> <%= link_to business.neighborhood.name.upcase, business.neighborhood %>
   <!--            <p>Biztags: <%# business.biztags.each do |biztag| %>
                <%#= link_to biztag.name, biztag %><%#= "," unless biztag == business.biztags.last %>
              <%# end %></p>
              <p>Designers: <%# business.designers.each do |designer| %>
                <%#= link_to designer.name, designer %><%#= "," unless designer == business.designers.last %>
              <%# end %></p> -->


             
    
            </div>
          <%# end %>
  <!--       </div>
      </div>
    </section> -->
