console.log("create.js.erb for messages called");

$("#contact .row").html('<div class="contact-thanks"><h3>Thanks for the message!</h3><h3>Please allow up to 24 hours to receive a response.</h3></div>');
$('#message-error').html("")

console.log($("#contact .row").html());
