<section id="gallery-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
  <h1 class="header">EDIT PROFILE</h1>
  <p class="header">COMPLETE YOUR PROFILE</p>
</section>

<%= render 'form' %>