<h1>Listing biztags</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @biztags.each do |biztag| %>
      <tr>
        <td><%#= biztag.name %></td>
        <td><%= link_to biztag.name, biztag %></td>
        <td><%#= link_to 'Edit', edit_biztag_path(biztag) %></td>
        <td><%#= link_to 'Destroy', biztag, method: :delete, data: { confirm: 'Are you sure?' } %></td>


      <!-- </tr> -->
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Biztag', new_biztag_path %>
