<!-- *** SERVICES START *** -->
<div id="services-start">
  <h1 class="header">CONSIGN.NYC</h1>
  <p class="header">High End Consignment in New York City</p>
</div>

<p id="notice"><%= notice %></p>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="delight-icon-services">
            <i class="icon-wallet"></i>
          </div>
          <div class="caption">
            <h3>CONSIGNORS</h3>
            <p>Save time by accessing all consignment and sale terms in one convenient location.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="delight-icon-services">
            <i class="icon-briefcase"></i>
          </div>
          <div class="caption">
            <h3>SHOPPERS</h3>
            <p>Curated list of high-end consignment shops searchable by designer and neighborhood.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="delight-icon-services">
            <i class="icon-chat"></i>
          </div>
          <div class="caption">
            <h3>BUSINESSES</h3>
            <p>Easily update shop information, terms, products, news and photographs. <a href="/forstores" alt="high end consignment nyc">Learn more.</a></p>
          </div>
        </div>
      </div>
    </div>
<!--     <div class="row divide_services">
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="delight-icon-services">
            <i class="icon-map"></i>
          </div>
          <div class="caption">
            <h3>LOCAL MAPS</h3>
            <p>Search for consignment shops by neighborhood and view popular walking routes.</p>
          </div>
        </div>
      </div> -->
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="delight-icon-services">
            <i class="icon-camera"></i>
          </div>
          <div class="caption">
            <h3>PHOTOS</h3>
            <p>View and upload photos of current and popular merchandise.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="delight-icon-services">
            <i class="icon-pencil"></i>
          </div>
          <div class="caption">
            <h3>REVIEWS</h3>
            <p>Reviews tailored specifically to New York City's high end consignment market.</p>
          </div>
        </div>
      </div>
        <div class="col-sm-4">
        <div class="thumbnail">
          <div class="delight-icon-services">
            <i class="icon-envelope"></i>
          </div>
          <div class="caption">
            <h3>MAILING LIST</h3>
            <p>Create an account to be added to our exclusive <a href="/mailinglist" alt="high end consignment upper east side">mailing list</a>.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="faq-link">
      <h4><a href="/faq">FREQUENTLY ASKED QUESTIONS</a></h4>
    </div>
  </div>
</section>
  <!-- *** SERVICES END ***