<!-- *** SERVICES START *** -->
    <div id="services-start">
      <h1 class="header">CONSIGN.NYC</h1>
      <p class="header">High End Consignment in New York City</p>
    </div>
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="thumbnail">
              <div class="delight-icon-services">
                <i class="icon-briefcase"></i>
              </div>
              <div class="caption">
                <h3>Shoppers</h3>
                <p>Search for stores by designer, neighborhood, read reviews, view photos, custom walking maps of neighborhoods, etc.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <div class="delight-icon-services">
                <i class="icon-heart"></i>
              </div>
              <div class="caption">
                <h3>Sellers</h3>
                <p>Save time by knowing exactly what each store is accepting without having to call around, etc.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <div class="delight-icon-services">
                <i class="icon-chat"></i>
              </div>
              <div class="caption">
                <h3>Businesses</h3>
                <p>Easily update information about your store, including hot new items, sales and terms.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row divide_services">
          <div class="col-sm-4">
            <div class="thumbnail">
              <div class="delight-icon-services">
                <i class="icon-map"></i>
              </div>
              <div class="caption">
                <h3>Neighborhood Maps</h3>
                <p>Search for consignment shops by neighborhood and view popular walking routes.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <div class="delight-icon-services">
                <i class="icon-camera"></i>
              </div>
              <div class="caption">
                <h3>Photos</h3>
                <p>View and upload photos of current and popular merchandise.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <div class="delight-icon-services">
                <i class="icon-pencil"></i>
              </div>
              <div class="caption">
                <h3>Reviews</h3>
                <p>Review consignment shops; read reviews written by others.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!-- *** SERVICES END *** -->