<!-- *** SERVICES START *** -->
    <div id="services-start">
      <h1 class="header">CONSIGN.NYC</h1>
      <p class="header">High End Consignment in New York City</p>
    </div>
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="thumbnail">
              <div class="delight-icon-services">
                <i class="icon-briefcase"></i>
              </div>
              <div class="caption">
                <h3>SHOPPERS</h3>
                <p>Curated list of high-end shops searchable by designer and neighborhood.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <div class="delight-icon-services">
                <i class="icon-heart"></i>
              </div>
              <div class="caption">
                <h3>SELLERS</h3>
                <p>Save time by accessing all consignment terms in one convenient location.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <div class="delight-icon-services">
                <i class="icon-chat"></i>
              </div>
              <div class="caption">
                <h3>BUSINESSES</h3>
                <p>Easily update shop information, terms, news and photographs.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row divide_services">
          <div class="col-sm-4">
            <div class="thumbnail">
              <div class="delight-icon-services">
                <i class="icon-map"></i>
              </div>
              <div class="caption">
                <h3>LOCAL MAPS</h3>
                <p>Search for consignment shops by neighborhood and view popular walking routes.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <div class="delight-icon-services">
                <i class="icon-camera"></i>
              </div>
              <div class="caption">
                <h3>PHOTOS</h3>
                <p>Shoppers, sellers and businesses can view and upload photos of current and popular merchandise.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <div class="delight-icon-services">
                <i class="icon-pencil"></i>
              </div>
              <div class="caption">
                <h3>REVIEWS</h3>
                <p>Read and write reviews tailored specifically to New York City's high-end consignment market.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!-- *** SERVICES END *** -->