<section id="gallery-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
  <h1 class="header">CONFIRM</h1>
  <p class="header">THANK YOU FOR REGISTERING WITH CONSIGN.NYC</p>
</section>

<h1>PLEASE CHECK YOUR EMAIL TO CONFIRM YOUR ACCOUNT</h1>
<p>You will not be able to log in until you confirm your account.</p>