<section id="gallery-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
  <h1 class="header">FAQ</h1>
  <p class="header">FREQUENTLY ASKED QUESTIONS</p>
</section>

<div class="faq">
  <h2>What is CONSIGN.NYC?</h2>

    <p>CONSIGN.NYC is the only platform that provides a curated list of high end consignment shops in New York City with complete information regarding purchase and sale terms.</p>

    <p>CONSIGN.NYC provides a variety of unique benefits to stores, sellers and shoppers.</p>

    <p>Local stores now have to compete with several fashon tech startups in the online consignment space. CONSIGN.NYC helps drive traffic back to New York City's local stores.</p>

  <h2>What's the story behind CONSIGN.NYC?</h2>

    <p>CONSIGN.NYC was founded by <a href="http://korenlc.com" alt="koren leslie cohen" target="_blank">Koren Leslie Cohen</a>, a lawyer turned web developer presently working as an engineer in the fashion industry.</p>

    <p>When Koren moved to New York years ago, she moved from a spacious apartment with multiple closets in the Beacon Hill neighborhood of Boston to a tiny studio in Murray Hill. The one closet in her apartment was overflowing with clothes, and she quickly realized she needed to make some adjustments to her living situation.</p>

    <p>Koren inventoried her clothes and began a search for the best stores in the city to sell her new and gently worn high end items. This involved reading numerous blogs containing inaccurate or incomplete information, cross-referencing those blogs with various review sites, and calling each suitable store directly for their consignment terms. The process was lengthy and frustrating.</p>

    <p>A few years ago, Koren started a blog about travel and New York City, and wrote a post about the Best Upper East Side Consignment Shops for Scoring a High End Deal. This post is one of the top-ranked articles on Google for high end consignment on the Upper East Side and in New York City generally. The post also remains the most heavily trafficked post on her blog.</p>

    <p>Recognizing the obvious thirst for this information and the clear lack of organization and reliability of available material, CONSIGN.NYC was born.</p> 

  <h2>As a shopper, why use CONSIGN.NYC?</h2>

    <p>As a shopper, you'll have access to local maps, photos of merchandise and user reviews to help you find what you're looking for. Pay it forward by writing a review of your favorite stores. If you <%= link_to "register with the site", new_user_registration_path, :target => "_blank" %>, you'll also be registered for our exclusive mailing list.</p> 

  <h2>I have high end items to consign. What are the benefits of CONSIGN.NYC?</h2>

    <p>As a seller, CONSIGN.NYC takes the pain out of determining the best stores to sell your high end clothing and accessories. No longer will you have to research terms online or call multiple stores. All of the information you need regarding consignment and sale is available in one convenient location. Sellers can also read reviews written by other sellers about their experience consigning with a particular store, and hopefully return the favor by informing others of their experience.</p>

  <h2>How does CONSIGN.NYC help businesses?</h2>

    <p>CONSIGN.NYC offers many benefits to business owners.</p>

    <p>Through a special admin panel, businesses can easily update store information, including hours, news, sale and consignment terms, and special offers. Businesses can also upload photos of new and popular items, thus driving traffic to their store and/or eCommerce site.</p>

    <p>Businesses will be marketed through our social media channels. Businesses also have the option to include information regarding consgnment, sales, special offers and new items in our targeted newsletter.</p>

    <p>Finally, businesses can sign up to receive notification emails when someone reviews their store or uploads a photo.</p>

    <p>For more information about how CONSIGN.NYC can help your business, <a href="/forstores">click here.</a></p>

  <h2>How do I gain admin access to my business?</h2></h2>

    <p>Easy! Send us a message through <a href="/messages/new" alt="contact form" target="_blank">the contact form</a> and we'll let you know what we need. We can also register you for business alerts.</p>

  <h2>How do I get my store listed on CONSIGN.NYC?</h2>

    <p>Send us a message through <a href="/messages/new" alt="contact form" target="_blank">the contact form</a> and we'll consider your store for inclusion.</p>

  <h2>How do I sign up for the mailing list?</h2>

    <p>Easy! Simply <%= link_to "register with the site", new_user_registration_path, :target => "_blank" %> and you'll automatically be added to the mailing list. Newsletters may include new site content, photos and special offers.</p>

  <h2>Can I purchase items on CONSIGN.NYC?</h2>

    <p>You cannot presently purchase items on CONSIGN.NYC, though we hope to integrate an eCommerce platform in the future. This will allow stores to market their high end items to a wider audience.</p>

  <h2>What is the site built with?</h2>

    <p>CONSIGN.NYC is a Ruby on Rails application utilizing a variety of additional technologies.</p>

  <div class="user-divide">
  </div>
</div>