<section id="gallery-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
  <h1 class="header">FAQ</h1>
  <p class="header">FREQUENTLY ASKED QUESTIONS</p>
</section>

<div class="col-md-12">
  <div class="faq">
    <h2>What is CONSIGN.NYC?</h2>

      <p>CONSIGN.NYC is the only platform that provides a curated list of high end consignment shops in New York City with complete information regarding purchase and sale terms.</p>

      <p>CONSIGN.NYC provides a variety of <a href="/forstores" target="_blank" alt="high end consignment nyc">unique benefits to stores</a>, consignors and shoppers.</p>

      <p>Local stores now have to compete with several fashion tech startups in the online consignment space. While online consignment can be convenient, there are often authenticity issues with high end items and consignors lack bargaining power over the price of their items. When items are not accepted, consignors often have to pay a fee to have their items returned, or can choose to donate their items with no tax benefits.</p>

      <p>CONSIGN.NYC aims to drive traffic back to New York City's local stores, and the personal experience and guaranteed authenticity they provide to consignors and consumers.</p>

    <h2>Background</h2>

      <p>CONSIGN.NYC was founded by <a href="http://twitter.com/korenlc" alt="koren leslie cohen" target="_blank">Koren Leslie Cohen</a>, a lawyer turned web developer presently working as an engineer in the fashion industry.</p>

      <p>When Koren moved to New York years ago, she moved from a spacious apartment with multiple closets in the Beacon Hill neighborhood of Boston to a tiny studio in Murray Hill. The one closet in her apartment was overflowing with clothes, and she quickly realized she needed to make some adjustments to her living situation.</p>

      <p>Koren inventoried her clothes and began a search for the best stores in the city to sell her new and gently worn high end items. This involved reading numerous blogs containing inaccurate or incomplete information, cross-referencing those blogs with various review sites, and calling each suitable store directly for their consignment terms. The process was lengthy and frustrating.</p>

  <!--     <p>A few years ago, Koren started a blog about travel and New York City, and wrote a post about the Best Upper East Side Consignment Shops for Scoring a High End Deal. This post is one of the top-ranked articles on Google for high end consignment on the Upper East Side and in New York City generally. The post also remains the most heavily trafficked post on her blog.</p> -->

      <p>Recognizing the obvious thirst for this information and the clear lack of organization and reliability of available material, CONSIGN.NYC was born.</p> 

    <h2>Shoppers</h2>

      <p>As a shopper, you'll have access to local maps, photos of merchandise and user reviews to help you find what you're looking for. Pay it forward by writing reviews of your favorite stores.</p>

      <p>If you <%= link_to "register with the site", new_user_registration_path, :target => "_blank" %>, you'll also be registered for our exclusive mailing list. Registration also allows you to create a profile which includes a bio and a link back to your blog or website.</p> 

    <h2>Consignors</h2>

      <p>As a consignor, CONSIGN.NYC takes the pain out of determining the best stores to consign your high end clothing and accessories. No longer will you have to research terms online or call multiple stores. All of the information you need regarding consignment and sale is available in one convenient location.</p>

      <p>Consignors can also read reviews written by other sellers about their experience consigning with a particular store, and hopefully return the favor by informing others of their experience.</p>

    <h2>Why should I register with CONSIGN.NYC?</h2>

      <p><%= link_to "Register with the site", new_user_registration_path, :target => "_blank" %> to (1) review stores and upload photos, (2) create a public profile with a bio and a link back to your website or blog, and (3) be added to our exclusive mailing list.</p> 

    <h2>Businesses</h2>

      <p>CONSIGN.NYC offers many benefits to business owners. For more information about how CONSIGN.NYC can help your business, <a href="/forstores" target="_blank" alt="high end consignment nyc">click here.</a></p>

    <h2>How do I gain access to my store's admin panel?</h2>

      <p>Easy! Send us a message through <a href="/messages/new" alt="contact form" target="_blank">the contact form</a> and we'll let you know what we need. We'll also register you for business alerts.</p>

    <h2>How do I get my store listed on CONSIGN.NYC?</h2>

      <p>Send us a message through <a href="/messages/new" alt="contact form" target="_blank">the contact form</a> and we'll consider your store for inclusion.</p>

    <h2>How do I sign up for the mailing list?</h2>

      <% if user_signed_in? %>
        <p>It looks like you're already logged in to CONSIGN.NYC. This means you're already on the mailing list!</p>
      <% else %>
        <p>Easy! Simply <%= link_to "sign up using your email address", new_user_registration_path, :target => "_blank" %> and you'll be added to the mailing list. You'll also be added to the mailing list if you <%= link_to "login through facebook", user_omniauth_authorize_path(:facebook) %>.</p>
        <p>Newsletters may include new site content, photos and special offers.</p>
      <% end %>

    <h2>Can I purchase items on CONSIGN.NYC?</h2>

      <p>You cannot presently purchase items on CONSIGN.NYC, though we hope to integrate an eCommerce platform in the future. This will allow stores to market their high end items to a wider audience who can benefit from the history and authenticity of New York City's consignment stores.</p>

      <p>Many stores listed on CONSIGN.NYC have eCommerce sites. This is noted in each store's Purchase Terms.</p>

    <div class="user-divide">
    </div>
  </div>
</div>