  <section id="gallery-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
    <h1 class="header">FAQ</h1>
    <p class="header">FREQUENTLY ASKED QUESTIONS</p>
  </section>
  Text here