<section id="gallery-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
  <h1 class="header">FOR STORES</h1>
  <p class="header">HOW BUSINESSES CAN BENEFIT FROM CONSIGN.NYC</p>
</section>

<div class="faq">

    <h2>CONSIGN.NYC offers many benefits to business owners.</h2>

    Admin Panel
    -update store info, including hours, news, sales, consignment terms, specialoffers

    Product Photos
    -upload photos of new and popular items, thus driving traffuc to their store and/or eCommerce site

    Social Media Marketing
    -businesses will be marketed through CONSIGN.NYC's social media channels

    Twitter - @ConsignDotNYC
    Instagram = @ConsignDotNYC

    <img src="images/consignfb.png" alt="consign.nyc">

    Targeted Newsletter
    -businesses have the option to include store information in CONSIGN.NYC's targeted mailings

    Notifications
    -businesses can receive notification emails when a user reviews their store or uploads a photo

  <div class="user-divide">
  </div>

</div>