<section id="gallery-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
  <h1 class="header">FOR STORES</h1>
  <p class="header">HOW BUSINESSES CAN BENEFIT FROM CONSIGN.NYC</p>
</section>

<div class="faq">

  <p>CONSIGN.NYC offers many benefits to business owners.</p>

  <h2>Admin Panel</h2>
  -update store info, including hours, news, sales, consignment terms, specialoffers

  <h2>Product Photos</h2>
  -upload photos of new and popular items, thus driving traffuc to their store and/or eCommerce site

  <h2>Social Media Marketing</h2>

  -businesses will be marketed through CONSIGN.NYC's social media channels

  Twitter - @ConsignDotNYC
  Instagram = @ConsignDotNYC

  <a href="http://facebook.com/consigndotnyc" target="_blank"><img src="images/consignfb.png" alt="consign.nyc"></a>
 

  <h2>Targeted Newsletter</h2>
  -businesses have the option to include store information in CONSIGN.NYC's targeted mailings

  <h2>Notifications</h2>
  -businesses can receive notification emails when a user reviews their store or uploads a photo

  <div class="user-divide">
  </div>

</div>