<section id="gallery-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
  <h1 class="header">FOR STORES</h1>
  <p class="header">HOW BUSINESSES CAN BENEFIT FROM CONSIGN.NYC</p>
</section>

<div class="faq stores">

  <p>CONSIGN.NYC offers many benefits to business owners.</p>

  <h2>ADMIN PANEL</h2>

    <p>Businesses may request access to their admin panel, through which they can update their store information, including hours of operation, news, sales, consignment terms and special offers.</p>

  <h2>PRODUCT PHOTOS</h2>

    <p>Businesses can easily upload photos of new and popular items, thus driving traffic to their store and/or eCommerce site.</p>

  <h2>SOCIAL MEDIA MARKETING</h2>

    <p>Businesses will benefit from CONSIGN.NYC's social media marketing channels, including <a href="http://facebook.com/consigndotnyc" target="_blank" alt="consign.nyc">Facebook</a>, <a href="http://twitter.com/consigndotnyc" target="_blank" alt="consign.nyc">Twitter</a> and <a href="http://instagram.com/consigndotnyc" target="_blank" alt="consign.nyc">Instagram</a>. Through CONSIGN.NYC's social media channels, businesses will have access to a new and targeted audience of high end shoppers and consignors.</p>

  <div class="notification-image">
    <a href="http://facebook.com/consigndotnyc" target="_blank"><img src="images/consignfb.png" alt="consign.nyc high end consignment nyc"></a>
  </div>
 
  <h2>TARGETED NEWSLETTER</h2>

    <p>Much like CONSIGN.NYC's social media channels, businesses will have the option to include store information, products and sales in our targeted mailings.</p>

  <h2>NOTIFICATIONS</h2>

    <p>Businesses with admin access will receive notification emails when a user reviews their store or uploads a photo.</p>

  <div class="notification-image">
    <img src="https://s3.amazonaws.com/consignnyc/consign-adminemail.png" alt="consign.nyc high end consignment nyc">
  </div>

  <h2>eCOMMERCE</h2>

    <p>CONSIGN.NYC hopes to launch its eCommerce platform in the near future, allowing bsinesses to sell their products to a wider audience of consumers.</p>

  <h2>REQUEST ADMIN ACCESS</h2>

    <p>To request admin access for your business, or to have your store considered for inclusion, please complete the <a href="/messages/new" alt="consign.nyc high end consignment nyc">contact form</a>.</p>

  <div class="user-divide">
  </div>

</div>