<section id="contact-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
  <h1 class="header">MAILING LIST</h1>
  <p class="header">JOIN OUR EXCLUSIVE MAILING LIST</p>
</section>

<div id="mailing-page">

  <div class="script-header">
    <h3>Be notified of new site content, special offers and other exciting info.</h3>
  </div>

  <div class="mailing-page">
    <p>Good news!</p>
    <p>If you already have an account on CONSIGN.NYC, you're already on the list.</p> 
    <p>No account yet? No problem.</p>
  </div>

  <div class="create-account-link">
    <h4><%= link_to "CREATE ACCOUNT", new_user_registration_path %></h4>
  </div>

</div>


