<section id="contact-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
  <h1 class="header">WELCOME</h1>
  <p class="header">THANK YOU FOR REGISTERING WITH CONSIGN.NYC</p>
</section>

<div id="mailing-page">

  <div class="script-header">
    <h3>Check your email for registration confirmation instructions.</h3>
  </div>

  <div class="mailing-page newuser">
    <p>Good news!</p>
    <p>You can confirm your account by clicking the link in your email.</p> 
    <p>Didn't receive an email? No problem.</p>
  </div>

  <div class="see-all">
    <p><a href="/users/confirmation/new" alt="high end consignment nyc">RESEND CONFIRMATION EMAIL</a></p>
  </div>

</div>