<section id="gallery-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
  <h1 class="header">SEARCH</h1>
  <p class="header">Search by shop type or neighborhood</p>
</section>

<div class="search">
  This is where search form will go.
</div>