  <section id="gallery-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
    <h1 class="header">TERMS</h1>
    <p class="header">TERMS & CONDITIONS</p>
  </section>

  TERMS AND CONDITIONS

  content - can use the content on fb, instagram, etc
  take from city gal

  account cancellation permanently deletes all associated account information. you will not be able to recover this info if you create an account later.

  PRIVACY POLICY

  take from city gal

