  <section id="gallery-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
    <h1 class="header">TERMS</h1>
    <p class="header">TERMS & CONDITIONS</p>
  </section>

<div class="faq">
 
  <h2>Privacy Policy</h2>

    <p>CONSIGN.NYC (“site”) values and is committed to protect the privacy of users. Personal information is collected solely on a voluntary basis.  Users may register with the site and provide information along with registration.  Email addresses and personal information will be used solely for sending users targeted mailings and tracking site usage.  Users are free to cancel their account at any time.  Email addresses and personal information will never be sold or disclosed.</p>

    <p>Limited information, such as a user's first name, may be displayed on their public profile, which will be available to view from any reviews authored or photos uploaded.</p>

    <p>This site may use cookies to track information about users, and may also log IP addresses. This information may include the date and time of visits, location of the user and pages viewed. This is done for informational purposes to track trends in traffic.</p>

    <p>This site contains links to external websites.  This site is not responsible for the privacy practices or content of external websites.</p>

  <h2>Intellectual Property</h2>

    This site owns full rights to all published content on this site including text, code, graphics, website name, images and logos.  Inappropriate use, including but not limited to reproduction or distribution of any content on this site is strictly prohibited by law, unless specifically authorized by this site.

  <h2>Limitation of Warranties</h2>

    <p>This site does not provide any warranty as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this site for any particular purpose.  This includes consignment terms, purchase terms and business hours of operation. Materials on this site may contain inaccuracies or errors and this site excludes liability for any such inaccuracies to the fullest extent permitted by law.</p>

    <p>Information on this site is subject to change without notice.  While this site strives to keep all information accurate and up-to-date, this site is not responsible for inaccurate information or dead links, including inaccurate information regarding consignment terms, purchase terms or business hours of operation.  This site will not compensate anyone in any way for losses or negative impacts suffered while making use of information found amongst the many posts and pages of this site.</p>

  <h2>Reviews and Photographs</h2>

    <p>Users who author reviews or upload photos on this site take full responsibility and liability for any libel or litigation that results from something written in or as a direct result of something written in a review or depicted in a photo. This site reserves the right to approve or deny all reviews and photos.  Reviews requesting link exchanges or linking to sites selling counterfeit goods will not be approved and/or will be deleted.  This site will not approve reviews or photos which it deems to be spam or for advertising purposes.  This site cannot guaranty the accuracy, completeness or honesty of reviews or photos.  Reviews and photos on this site are solely the opinions of those submitting them.  By approving reviews or photos, this site does not imply endorsement.  By reviewing a store or uploading a photo, you grant this site world-wide, perpetual, irrevocable, royalty free, non-exclusive, fully sub-licensable license(s) to use, distribute, reproduce, modify, adapt, publish, translate, publicly perform and publicly display user reviews or photos (in whole or in part) and to incorporate user reviews or photos into other works in any format or medium now known or later developed, including social media.</p>

  <h2>Account Cancellation</h2>

    <p>If a user opts to cancel their account, all reviews and photos authored or uploaded by that user will be permanently deleted. These will not be recovered if the user later creates a new account.</p>

  <h2>Governing Law</h2>

    <p>Your use of this site and any dispute arising out of such use of the site is subject to the laws of the United States of America.  Any action arising under the terms above or the use of this site shall be brought in Federal or State courts in the State of New York, and all persons expressly agree to be subject to the jurisdiction of such courts.  This site does not give rise to personal jurisdiction in jurisdictions other than New York.</p>

    <p>If you have any questions, please complete the <a href="/messages/new" alt="high end consignment nyc">contact form</a>.

  <div class="user-divide">
  </div>

</div>

