    <section id="gallery-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
      <h1 class="header">ADMIN PAGE</h1>
      <p class="header">EDIT BOROUGH</p>
    </section>

<%= render 'form' %>

<%= link_to 'Show', @borough %> |
<%= link_to 'Back', boroughs_path %>
