<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= link_to @user.name, @user %> has uploaded a photo to <%= link_to @business.name, @business %>.</h1>
  </body>
</html>