<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <img src="https://s3.amazonaws.com/consignnyc/consign-banner.png" width="100%">
    <h1>NEW MESSAGE</h1> 
    <h1>NAMW: <%= @name %></h1>name
    <h1>EMAIL: <%= @email %>:</h1>
    <h1>MESSAGE</h1>
    <p><%= @body %><br></p>
  </body>
</html>