<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have received a new message from <%= @name %> at <%= @email %>:</h1>
    <p>
      <%= @body %><br>
    </p>
  </body>
</html>