<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for your review, <%= link_to @user.name, @user %></h1>
    <p>
      You have successfully reviewed <%= link_to @business.name, @business %>.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
    <p>Visit <a href="http://consign.nyc">Consign.NYC</a> again soon!</p>
  </body>
</html>