<section id="gallery-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
  <h1 class="header">GALLERY</h1>
  <p class="header">Browse the Latest Photos</p>
</section>

<section id="gallery">
  <div id="owl-demo" class="owl-carousel owl-theme">
    <% @photos.reverse.each do |photo| %>
      <div class="owlitem"style="background-image:url('<%= photo.business_photo %>'); background-size:cover">
      <p><%= link_to photo.business.name.upcase, photo.business %><br>
        <% if photo.business.reviews.length == 0 %>
        (NO REVIEWS YET)
        <% else %>
          <% total_rating = 0 %>
          <% num_of_ratings = 0 %>
          <% overall_rating = 0 %>
          <% photo.business.reviews.each do |review| %>
            <% total_rating += review.rating %>
            <% num_of_ratings += 1 %>
          <% end %>
          <% overall_rating = (total_rating.to_f / num_of_ratings.to_f) %>
          <%#= overall_rating.to_f %>
          <% if (overall_rating.to_f >= 1 && overall_rating.to_f <= 1.24)  %>
            <i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>

          <% elsif (overall_rating.to_f >= 1.25 && overall_rating.to_f <= 1.74)  %>
            <i class="fa fa-star"></i><i class="fa fa-star--half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>

          <% elsif (overall_rating.to_f >= 1.75 && overall_rating.to_f <= 2.24)  %>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>

          <% elsif (overall_rating.to_f >= 2.25 && overall_rating.to_f <= 2.74)  %>
             <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>

          <% elsif (overall_rating.to_f >= 2.75 && overall_rating.to_f <= 3.24)  %>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>

          <% elsif (overall_rating.to_f >= 3.25 && overall_rating.to_f <= 3.74)  %>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>

          <% elsif (overall_rating.to_f >= 3.75 && overall_rating.to_f <= 4.24)  %>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>

          <% elsif (overall_rating.to_f >= 4.25 && overall_rating.to_f <= 4.74)  %>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>

          <% elsif overall_rating.to_f >= 4.75 %>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
          <% end %>
        <% end %><br>
        <%= photo.description[0..25].upcase %> | <%= link_to photo.user.first_name.upcase, photo.user %> </p>
      </div>
    <% end %>
  </div>
</section>

