<section id="gallery-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
  <h1 class="header">GALLERY</h1>
  <p class="header">Browse the Latest Photos</p>
</section>

<section id="gallery">
  <div id="owl-demo" class="owl-carousel owl-theme">
    <% @photos.reverse.each do |photo| %>
      <div class="owlitem"style="background-image:url('<%= photo.business_photo %>'); background-size:cover">
      <p><%= link_to photo.business.name.upcase, photo.business %><br>
        <% if photo.business.reviews.length == 0 %>
        (NO REVIEWS YET)
        <% else %>
          <% total_rating = 0 %>
          <% num_of_ratings = 0 %>
          <% overall_rating = 0 %>
          <% photo.business.reviews.each do |review| %>
            <% total_rating += review.rating %>
            <% num_of_ratings += 1 %>
          <% end %>
          <% overall_rating = (total_rating / num_of_ratings) %>
          <% if overall_rating == 1 %>
            <i class="fa fa-star"></i>
          <% elsif overall_rating == 2 %>
            <i class="fa fa-star"></i><i class="fa fa-star"></i>
          <% elsif overall_rating == 3 %>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
          <% elsif overall_rating == 4 %>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
          <% else %>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
          <% end %>
        <% end %><br>
      "<%= photo.description[0..25].upcase %>" BY: <%= link_to photo.user.first_name.upcase, photo.user %> </p>
      </div>
    <% end %>
  </div>
</section>

