body {
  /*background: pink;*/
  padding-bottom: 0;
  padding-top: 50px;
}

/*TEXT*/
h1 {
  background: none;
}

/*NAVBAR*/
.navbar-default .navbar-nav > li > a {
  font-size: 15px;
  /*padding: 0 10px;*/
  font-family: "Playfair Display";
  /*background: none;*/
  /*color: ;*/
}

.navbar {
    border-bottom: 1px solid white;
}

.navbar,
.navbar-default .navbar-nav {
  /*background: none;*/
  margin-bottom: 0;

}

.navbar a {
  font-size: 30px;
  
}

.navbar-header {
  padding-top: 10px;
}

.navbar-brand {
  /*padding: 22px 0px;*/
  /*font-size: 40px;*/
  /*padding-top: 10px;*/
}

/*.navbar,
.navbar-default,
.navbar-fixed-top,
.skrollable,
.skrollable-between {
    margin-bottom: 0;
}*/

/*BUSINESS MAP */

.business-photo-map {
  margin-left: auto;
  margin-right: auto;
}

.business-photo,
.business-map {
  float: left;
}

.business-map {
  width: 100%;
}

.business-map iframe {
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 320px;
  margin-top: 10px;
}

.business-map-neighborhood {
  width: 100%;
}

.business-map-neighborhood iframe {
    margin-right: auto;
  margin-left: auto;
  display: block;
  width: 800px;
  margin-top: 10px;
}

/*REVIEWS*/

#reviews img,
#user-reviews img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  float: left;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

#review,
#user-review {
  border-top: 1px solid #000;
  height: 160px;
  /*overflow: auto;*/
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

#review_rating,
#review_content {
  max-width: 800px;
}



#review-content,
#user-review-content {
  overflow: auto;
  height: 60px;
}

.you-reviewed h3 {
  text-align: center;
}


/*GALLERY*/

.thumbnail-gallery {
  height: 250px;
  transition-duration: .5s;
  transition-property: opacity;
  /*border: 2px solid #777;*/
  border: 5px solid #000;
}

.thumbnail-gallery:hover {
  opacity: .75;
  transition-duration: .5s;
  transition-property: opacity;
}

/*USER*/

.user-profile-photo img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}

.users-page #gallery-start {
  padding-top: 30px;
  padding-bottom: 30px;
}

#private-profile {
/*  width: 300px;
  margin-left: auto;
  margin-right: auto;*/
}

#private-profile h5 {
  font-size: 20px;
  text-align: center;
}

.user-header h2 {
  text-align: center;
  width: 100%;
  background: #000;
  color: #FFF;
}

/*font-family: "Playfair Display";*/



/*DIVIDE*/

#gallery-start,
#services-start,
#contact-start {
  padding-top: 30px;
  padding-bottom: 30px;
}

.business-index .divide,
#works .divide,
#gallery .divide,
#footer .divide {
  margin-bottom: 10px;
  margin-top: 10px;
}

.divide_services {
  margin-bottom: 10px;
}

/*BOOTSTRAP*/

.col-sm-6 h1 {
  font-size: 40px;
  padding-top: 20px;
}

.col-sm-3 a {
  color: black;
  font-size: 20px;
  transition-duration: .5s;
  transition-property: color;
}

.col-sm-3 a:hover {
  color: #FD8698;
  transition-duration: .5s;
  transition-property: color;
}

.row {

}



/*SERVICES*/

#services .thumbnail p {
  font-size: 15px;
  font-family: "Playfair Display";
  /*color: white;*/
  color: black;
}

#services {
  background: white;
}

#services .thumbnail h3 {
  color: black;
}

/*FORM*/

.form-control {
  height: 50px;
  margin-bottom: 10px;
}

#contact .form-control {
  background: none;
}

/*#contact input,
#contact textarea {
  border-bottom: 1px solid #777;
}*/

.delight-icon-services {
  width: 80px;
}

.contact-thanks h2 {
  text-align: center;
  font-size: 30px;
}

#review-form {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#photo-form {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#new-review h5,
#new-photo h5 {
  text-align: center;
  font-size: 20px;
}

#new-photo h5 {
  margin-top: 20px;
  margin-bottom: 15px;
}

.review-button,
.photo-button {
  width: 131px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
}

.review-button {
  width: 131px;
}

.photo-button {
  width: 148px;
}

.review-button button,
.photo-button button  {
    background: #FD8698;
    color: white;
    outline: 0px;
}

.review-button button:hover,
.photo-button button:hover {
    background: #000;
}

#photo_business_photo {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  background: #EEE;
  color: #555;
  padding: 10px;
  height: 52px;
}

/*HEART ICON*/

.icon-heart {
  color: #FD8698;
}

span a {
  color: black;
}

a:hover {
  background: none;
}

/*LINK BUTTONS*/

.faq-link,
.user-account-header,
.user-profile-editor,
.user-profile-logout,
.business-login-to-review,
.business-login-to-upload,
.business-signup-to-review,
.business-signup-to-upload,
.business-complete-to-review,
.business-complete-to-upload {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.business-signup-to-review,
.business-signup-to-upload,
.business-complete-to-review,
.business-complete-to-upload {
  margin-top: 20px;
}

.faq-link {
  width: 323px;
}

.user-account-header {
  width: 278px;
}

.user-profile-editor {
  width: 302px;
}

.user-profile-logout {
  width: 92px;
}

.business-login-to-review {
  width: 184px;
}

.business-login-to-upload {
  width: 263px;
}

.business-signup-to-review {
  width: 200px;
}

.business-signup-to-upload {
  width: 279px;
}

.business-complete-to-review {
  width: 315px;
}

.business-complete-to-upload {
  width: 320px;
}

.faq-link h4 a,
.user-account-header h4 a,
.user-profile-editor h4 a,
.user-profile-logout h4 a,
.business-login-to-review h4 a,
.business-login-to-upload h4 a,
.business-signup-to-review h4 a,
.business-signup-to-upload h4 a,
.business-complete-to-review h4 a,
.business-complete-to-upload h4 a {
  color: #FFF;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  transition-duration: .5s;
  transition-property: background;
  background: #000;
  padding: 5px;
  border-radius: 5px;
}

.faq-link h4 a:hover,
.user-profile-editor h4 a:hover,
.user-profile-logout h4 a:hover,
.business-login-to-review h4 a:hover,
.business-login-to-upload h4 a:hover,
.business-signup-to-review h4 a:hover,
.business-signup-to-upload h4 a:hover,
.business-complete-to-review h4 a:hover,
.business-complete-to-upload h4 a:hover {
  background: #FD8698;
  transition-duration: .5s;
  transition-property: background;
}

#gallery-start,
#services-start,
#contact-start {
  background-image: url('header-shadow.png');
  background-size: cover;
}


/*BUSINESS*/

.biz {
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.biz a,
.biz a:visited {
  color: black;
  font-size: 15px;
  transition-duration: .5s;
  transition-property: color;
}

.biz a:hover {
  color: #FD8698;
  transition-duration: .5s;
  transition-property: color;
}

.biz-header h2 {
  text-align: center;
  width: 100%;
  background: #000;
  color: #FFF;
}

/*.biz-header h2*/

.col-md-12 {
  background: #FFF;
}

/*DESIGNERS*/

.designers {
  min-height: 240px;
}

/*SLIDER*/

.item {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 500px;
}

.slider-img {
  height: 400px;
}

/*FOOTER*/

#footer {
  border-top: 1px solid white;
  /*height: 200px;*/
  padding-bottom: 30px;
}

#footer p {
  font-family: "Playfair Display";
}

#footer p span {
  font-size: 15px;
  line-height: 1.3;
}

#footer a {
  color: #FD8698;
  transition-duration: .5s;
  transition-property: color;
}

#footer a:hover {
  color: #777;
  transition-duration: .5s;
  transition-property: color;
}
#footer .btn-default {
  border: 1px solid #FD8698;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  margin: 3px;
  transition-duration: .5s;
  transition-property: background;
}

#footer .btn-default:hover {
  background: #FD8698;
  transition-duration: .5s;
  transition-property: background;
}

#footer .btn-group {
  margin-bottom: 0;
}

.fa-facebook,
.fa-twitter,
.fa-instagram {
  color: #FFF;
/*  transition-duration: .5s;
  transition-property: color;*/
}

/*.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus:hover {
  color: #777;
  transition-duration: .5s;
  transition-property: color;
}*/

 

/* Smaller Screens - Breakpoint -------> */
/*@media screen and (max-width : 1200px) {

  .container-nav {
    width: 1100px;
  }

}*/

/* Smaller Screens - Breakpoint -------> */
/*@media screen and (max-width : 1150px) {

  .container-nav {
    width: 1050px;
  }

}*/

/* Smaller Screens - Breakpoint -------> */
/*@media screen and (max-width : 1100px) {

  .container-nav {
    width: 1000px;
  }

}*/

/* Smaller Screens - Breakpoint -------> */
/*@media screen and (max-width : 1050px) {

  .container-nav {
    width: 950px;
  }



}*/





