body {
  /*background: pink;*/
}

.navbar-default .navbar-nav > li > a {
  font-size: 13px;
  /*padding: 0 10px;*/
  font-family: "Playfair Display";
  /*background: none;*/
  /*color: ;*/
}

.navbar {
    border-bottom: 1px solid white;
}

.navbar,
.navbar-default .navbar-nav {
  background: none;

}

.navbar a {
  font-size: 40px;
  
}

.navbar-brand {
  padding: 22px 0px;
  /*font-size: 40px;*/
}

#footer {
  border-top: 1px solid white;
}

.business-photo-map {
  margin-left: auto;
  margin-right: auto;
}

.business-photo,
.business-map {
  float: left;
}