body {
  /*background: pink;*/
}

.navbar-default .navbar-nav > li > a {
  font-size: 13px;
  /*padding: 0 10px;*/
  font-family: "Playfair Display";
  /*background: none;*/
  /*color: ;*/
}

.navbar {
    border-bottom: 1px solid white;
}

.navbar,
.navbar-default .navbar-nav {
  background: none;

}

.navbar-brand > a {
  font-size: 13px;
  
}

.navbar-brand {
  padding: 22px 0px;
}

#footer {
  border-top: 1px solid white;
}