/*-------------------MODAL-------------------*/

.modalDialog {
  position: fixed;
  overflow: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  opacity:0;
  transition-duration: .5s;
  transition-property: opacity;
  pointer-events: none;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
  transition-duration: .5s;
}

.modalDialog > .modal-box {
  position: relative;
  color: #000;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #000;
  background: #FFF;
}

.modal-box {
  color: #000;
  width: 300px;
  top: 100px;
}

.close {
  color: #000;
  float: none;
  font-family: 'Playfair Display';
  font-size: 15px;
  opacity: 1;
  margin-left: 120px;
  font-weight: normal;
}

.close a {
  line-height: 25px;
  position: absolute;
}

.close:visited,
.close:hover {
  color: #000;
}

.hours-table {
  padding: 20px;
  background: #FFF;
  margin-left: auto;
  margin-right: auto;
}

/*-------------------MODAL PHOTOS-------------------*/

.modalDialog2 {
  position: fixed;
  overflow: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  opacity:0;
  transition-duration: .5s;
  transition-property: opacity;
  pointer-events: none;
}

.modalDialog2:target {
  opacity: 1;
  pointer-events: auto;
  transition-duration: .5s;
}

.modalDialog2 > .modal-box2 {
  position: relative;
  color: #000;
  width: 315px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #000;
  background: #FFF;
}

.modal-box2 {
  color: #000;
  width: 300px;
  top: 100px;
}

.close2 {
  color: #000;
  float: none;
  font-family: 'Playfair Display';
  font-size: 15px;
  opacity: 1;
  margin-left: 130px;
}

.close2 a {
  line-height: 25px;
  position: absolute;
}

.close2:visited,
.close2:hover {
  color: #000;
}

/*-------------------MODAL CONSIGNMENT TERMS-------------------*/

.modalDialog3 {
  position: fixed;
  overflow: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  opacity:0;
  transition-duration: .5s;
  transition-property: opacity;
  pointer-events: none;
}

.modalDialog3:target {
  opacity: 1;
  pointer-events: auto;
  transition-duration: .5s;
}

.modalDialog3 > .modal-box3 {
  position: relative;
  color: #000;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #000;
  background: #FFF;
}

.modal-box3 {
  color: #000;
  width: 300px;
  top: 100px;
}

.close3 {
  color: #000;
  float: none;
  font-family: 'Playfair Display';
  font-size: 15px;
  opacity: 1;
  font-weight: normal;
}

.close3 a {
  line-height: 25px;
  position: absolute;
}

.close3:visited,
.close3:hover {
  color: #000;
}

.consign-table,
.shop-table {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  max-width: 600px;
  text-align: left;
}

.consign-table td,
.shop-table td {
  font-size: 15px;
}

/*-------------------MODAL SHOP TERMS-------------------*/

.modalDialog4 {
  position: fixed;
  overflow: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  opacity:0;
  transition-duration: .5s;
  transition-property: opacity;
  pointer-events: none;
}

.modalDialog4:target {
  opacity: 1;
  pointer-events: auto;
  transition-duration: .5s;
}

.modalDialog4 > .modal-box4 {
  position: relative;
  color: #000;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #000;
  background: #FFF;
}

.modal-box4 {
  color: #000;
  width: 300px;
  top: 100px;
}

.close4 {
  color: #000;
  float: none;
  font-family: 'Playfair Display';
  font-size: 15px;
  opacity: 1;
  font-weight: normal;
}

.close4 a {
  line-height: 25px;
  position: absolute;
}

.close4:visited,
.close4:hover {
  color: #000;
}

/*-------------------TERMS-------------------*/

.terms {
  background: #000;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}

.terms h4 {
  padding: 5px;
}

.terms h4 a {
  color: #FFF;
}

/*-------------------MODAL WRAP-------------------*/

.modal-header button {
  float: right;
}

