/*GALLERY SLIDER*/

#owl-demo .owlitem {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 0px;
    text-align: center;
    height: 450px;
}

div.owl-item {
}

.owlitem {
  border-top: 2px solid black;
}

.owlitem p a {
  color: #FC4063;
  font-family: "Playfair Display";
}

.owlitem p a:hover {
  color: #000;
}

.owlitem p {
  background: white;
  margin: 0;
  width: 100%;
  color: black;
  font-family: "Playfair Display";
}

.owlitem .fa-star {
  color: black;
}

.owl-theme .owl-controls {
  margin-top: 0px;
}

/*BUSINESS INDEX SLIDER*/

.owlitem-biz {
  height: 320px;
  border: 0px;
}

.owlitem-biz p {
  background: white;
  margin: 0;
  width: 100%;
  color: black;
  font-family: "Playfair Display";
}

#owl-demo-biz .owlitem-biz {
  margin-left: 2px;
  margin-right: 2px;
}