#owl-demo .owlitem{
    /*background: #42bdc2;*/
    /*padding: 0px 10px;*/
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 0px;
    text-align: center;
    height: 450px;
  /*width: 30px;*/
}

div.owl-item {
  /*height: 300px;*/
/*  width: 300px;*/
}

.owlitem {
  border-top: 2px solid black;
}

.owlitem p a {
  /*background: black;*/
  /*opacity: .6;*/
  /*margin-left: 0px;*/
  color: black;
  /*bottom: 0;*/
  font-family: "Playfair Display";

}

.owlitem p a:hover {
  color: #efa48d;
}

.owlitem p {
  /*bottom: 0;*/
  background: white;
  margin: 0;
    width: 100%;
    color: black;
    font-family: "Playfair Display";
}

.owlitem .fa-star {
  color: black;
}

.owl-theme .owl-controls {
  margin-top: 0px;
}

.owl-theme .owl-controls .owl-buttons div {
  background: #000;
  border-radius: 0;
}