  <!-- *** HOME START *** -->
    <section id="home" data-start="background-position: 50% 0px;" data-85p="background-position: 50% 300px;">
      <div class="container-fluid text-center">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <div id="carousel_fade_home" class="carousel slide">
              <div class="carousel-inner" data-start="opacity: 1;" data-45p="opacity: 0;">
                <div class="active item">
                  <h1>WE CREATE <span class="highlight">STUFF</span></h1>
                </div>
                <div class="item">
                  <h1>WE <i class="fa fa-heart"></i> SHOPPING</h1>
                </div>
                <div class="item">
                  <h1>WE ARE <span class="highlight">FASHION</span></h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!-- *** HOME END *** -->

<!-- *** SERVICES START *** -->
    <div id="services-start">
      <h1 class="header">Services</h1>
      <p class="header">Solid Background Color</p>
    </div>
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="thumbnail">
              <div class="delight-icon-services">
                <i class="icon-ribbon"></i>
              </div>
              <div class="caption">
                <h3>Branding</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque scelerisque cursus ante ac ullamcorper sed sit amet.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <div class="delight-icon-services">
                <i class="icon-tools"></i>
              </div>
              <div class="caption">
                <h3>Web Design</h3>
                <p>Donec sed leo a est placerat dignissim vitae nec sapien. Curabitur elementum, leo id dictum consequats turpisum sem pretium elit.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <div class="delight-icon-services">
                <i class="icon-genius"></i>
              </div>
              <div class="caption">
                <h3>Marketing</h3>
                <p>Pellentesque id odio in risus facilisis accumsan. Donec non hendrerit elit, eget volutpat leo. Nullam vehiculater nunc id vulputate.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row divide_services">
          <div class="col-sm-4">
            <div class="thumbnail">
              <div class="delight-icon-services">
                <i class="icon-hotairballoon"></i>
              </div>
              <div class="caption">
                <h3>Photography</h3>
                <p>Proin commo nunc eget orci ornare, ac accumsan ipsum mattis. Vestibulum ante ipsum primis in faucibusus orci luctus et.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <div class="delight-icon-services">
                <i class="icon-telescope"></i>
              </div>
              <div class="caption">
                <h3>Innovation</h3>
                <p>Donec sit amet mauris ac erat tincidunt cursus blandit. Quisque consectetur pulvinar odio et porta. In sed vitae mauris tincidunt.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <div class="delight-icon-services">
                <i class="icon-chat"></i>
              </div>
              <div class="caption">
                <h3>Support</h3>
                <p>Nam an urbanitas elaboraret. No nam laudem scripta invenire, ea cibo idque soleat sum, his id option vestibulum prodesset.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!-- *** SERVICES END *** -->
