<!-- *** HOME START *** -->
<section id="home" data-start="background-position: 50% 0px;" data-85p="background-position: 50% 300px;">
  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div id="carousel_fade_home" class="carousel slide">
          <div class="carousel-inner" data-start="opacity: 1;" data-45p="opacity: 0;">
            <div class="item">
              <h1><i class="fa fa-heart"></i> FASHION</h1>
            </div>
            <div class="active item">
              <h1>CONSIGN<span class="highlight">.NYC</span></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- *** HOME END *** -->


