<div class="review_form">
  <div id="new-review">
    <h5>Love <%= @business.name %>? Leave a review.</h5>
    <div id="review-error"></div>
  </div>
  <%= render "reviews/form", review: review, submit_text: "Submit" %>
</div>