console.log("create.js.erb reviews called");

$("#reviews h4 span").html("");
$(".review_form").html("<h3>Your review will be posted shortly! Happy shopping!</h3>");

console.log($(".review_form").html());
console.log($('#reviews').html());
console.log($('#reviews h4 span').html());
console.log("end of file");


// $('#reviews').append("<%= j render @review %>");
// var $new_review = $('#new_review');
// $new_review[0].reset();
// $new_review.find('#star-rating-new').raty('score', 0);
// $new_review.find('.error_explanation').remove();


 


         







