console.log("create.js.erb reviews called");

$("#reviews h4 span").html("");
$(".review_form").html('<div class="you-reviewed"><h3>Your review will be posted shortly!</h3></div>');

console.log($(".review_form").html());
console.log($('#reviews h4 span').html());



 


         







