  <!-- *** CONTACT START *** -->
    <section id="contact-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
      <h1 class="header">Contact</h1>
      <p class="header">
        <!-- <span style="white-space:nowrap"> -->
         <!--  <i class="fa fa-map-marker highlight"></i> 
          <a href="https://www.google.com/maps/@34.101578,-118.333927,3a,90y,178h,90t/data=!3m4!1e1!3m2!1s_-aKDfmMy_CwRT6KCW66vQ!2e0?hl=pt-BR" target="_blank">New York, NY</a>
        </span>
        <span style="white-space:nowrap">
          <i class="fa fa-phone highlight" style="padding-left: 15px"></i> 
          <a href="skype:echo123?call">(301) 807-2885</a>
        </span> -->
        <span style="white-space:nowrap">
          <i class="fa fa-envelope-o highlight" style="padding-left: 15px"></i> 
          <a href="mailto:name@mail.com">consignnycity@mail.com</a>
        </span>
      </p>
    </section>
    <section id="contact">
      <div class="container">
        <div class="row divide">
          <form action="js/sendmail.php" class="form-inline flowuplabels" role="form" method="post" id="contactForm">
            <div class="form-group col-md-3 col-sm-6 fl_wrap">
              <label class="fl_label" for="name">Name:</label>
              <input type="text" name="name" value="" id="name" class="form-control fl_input">
            </div>
            <div class="form-group col-md-3 col-sm-6 fl_wrap">
              <label class="fl_label" for="email">Email:</label>
              <input type="text" name="email" value="" id="email" class="form-control fl_input">
            </div>
            <span class="honeypot form-group col-md-3 col-sm-6 fl_wrap">
              <label class="fl_label" for="last">Honeypot:</label>
              <input type="text" name="last" value="" id="last" class="form-control fl_input">
            </span>
            <div class="form-group col-md-3 col-sm-6 fl_wrap">
              <label class="fl_label" for="message">Message:</label>
              <input type="text" name="message" value="" id="message" class="form-control fl_input">
            </div>
            <div class="form-group col-md-3 col-sm-6">
              <button type="submit" value="Send" id="submit" class="btn btn-fancy btn-block">SEND</button>
            </div>
            <div class="form-group col-xs-12">
              <div class="message">
                <div class="alert"></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  <!-- *** CONTACT END *** -->