<!-- *** FOOTER START *** -->
  <section id="footer">
    <div class="container">
      <div class="row divide">
        <div align="center">
          
          <div class="btn-group">
            <a href="https://www.facebook.com/ConsignDotNYC" target="_blank" class="btn btn-default"><span class="fa fa-facebook"></span></a>
            <a href="https://twitter.com/ConsignDotNYC" target="_blank" class="btn btn-default"><span class="fa fa-twitter"></span></a>
            <a href="http://instagram.com/consigndotnyc" target="_blank" class="btn btn-default"><span class="fa fa-instagram"></span></a>
          </div>
            <p><span><a href="/forstores">FOR BUSINESSES</a> | <a href="/faq">FAQ</a> | <a href="/terms">TERMS & CONDITIONS</a></span></p>

            <p><span><a href="/about">ABOUT</a> | <a href="/businesses">STORES</a> | <a href="/photos">GALLERY</a> | <a href="/designers">DESIGNERS</a> | <a href="/boroughs">LOCAL</a> | <a href="/messages/new">CONTACT</a></span></p>

            <p>CREATED WITH <i class="fa fa-heart"></i> IN NYC | &copy; 2014 <a href="/">CONSIGN.NYC</a></p>

<!--             <div id="fb-root"></div>

            <div class="fb-like" data-href="https://www.facebook.com/ConsignDotNYC" data-layout="standard" data-color-scheme="dark" data-action="like" data-share="true"></div> -->

          <br>
        </div>
      </div>  
    </div>
  </section>
<!-- *** FOOTER END *** -->

