<section id="footer">
  <div class="container">
    <div class="row divide">
      <div align="center">

        <div class="btn-group">
          <a href="http://instagram.com/consigndotnyc" target="_blank" class="btn btn-default"><span class="fa fa-instagram"></span></a>
          <a href="https://www.facebook.com/ConsignDotNYC" target="_blank" class="btn btn-default"><span class="fa fa-facebook"></span></a>
          <a href="https://twitter.com/ConsignDotNYC" target="_blank" class="btn btn-default"><span class="fa fa-twitter"></span></a>
          <a href="https://pinterest.com/ConsignDotNYC" target="_blank" class="btn btn-default"><span class="fa fa-pinterest"></span></a>
        </div>

        <div class="footer-top">
          <p>Join the Mailing List</p>
        </div>

        <!-- MAILCHIMP -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
        <div id="mc_embed_signup">
          <form action="//nyc.us9.list-manage.com/subscribe/post?u=1117265d70d1e41cadadafd00&amp;id=dbe59ea22b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <div class="mc-field-group">
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email">
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>    
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_1117265d70d1e41cadadafd00_dbe59ea22b" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
          </form>
        </div>

        <!-- LINKS -->
        <p><span><a href="/forstores">FOR BUSINESSES</a> <i class="fa fa-caret-right"></i> <a href="/faq">FAQ</a> <i class="fa fa-caret-right"></i> <a href="/terms">TERMS & CONDITIONS</a></span></p>
        <p><span><a href="/about">ABOUT</a> <i class="fa fa-caret-right"></i> <a href="/businesses">STORES</a> <i class="fa fa-caret-right"></i> <a href="/photos">GALLERY</a> <i class="fa fa-caret-right"></i><!-- <a href="/designers">DESIGNERS</a> <i class="fa fa-caret-right"></i> --> <a href="/boroughs">NEIGHBORHOODS</a> <i class="fa fa-caret-right"></i> <a href="/messages/new">CONTACT</a></span></p>
        <p>CREATED WITH <i class="fa fa-heart"></i> IN NYC <i class="fa fa-caret-right"></i> &copy; 2014 <a href="/">CONSIGN.NYC</a></p>
        <br>

      </div>
    </div>  
  </div>
</section>

<!-- GOOGLE ANALYTICS -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-58203902-1', 'auto');
  ga('send', 'pageview');
</script>

