  <!-- *** FOOTER START *** -->
    <section id="footer">
      <!-- <a class="toTop text-center" href="#home"><i class="fa fa-angle-double-up"></i></a> -->
      <div class="container">
        <div class="row divide">
          <div align="center">
            <a href="#home"><img src="img/logo.png" alt=""></a><br>
            <div class="btn-group">
              <a href="#" class="btn btn-default"><span class="fa fa-facebook"></span></a>
              <a href="#" class="btn btn-default"><span class="fa fa-twitter"></span></a>
              <a href="#" class="btn btn-default"><span class="fa fa-google-plus"></span></a>
              <a href="#" class="btn btn-default"><span class="fa fa-linkedin"></span></a>
              <a href="#" class="btn btn-default"><span class="fa fa-behance"></span></a>
              <a href="#" class="btn btn-default"><span class="fa fa-dribbble"></span></a>
            </div>
            <p><small>Created with <i class="fa fa-heart"></i> in New York City | Copyright 2014 <a href="/">Consign.NYC</a></small></p>
            <br>
          </div>
        </div>  
      </div>
    </section>
  <!-- *** FOOTER END *** -->