<!-- *** FOOTER START *** -->
<section id="footer">
  <div class="container">
    <div class="row divide">
      <div align="center">
        <div class="btn-group">
          <a href="https://www.facebook.com/ConsignDotNYC" target="_blank" class="btn btn-default"><span class="fa fa-facebook"></span></a>
          <a href="http://instagram.com/consigndotnyc" target="_blank" class="btn btn-default"><span class="fa fa-instagram"></span></a>
          <a href="https://twitter.com/ConsignDotNYC" target="_blank" class="btn btn-default"><span class="fa fa-twitter"></span></a>
        </div>
          <p><span><a href="/forstores">FOR BUSINESSES</a> <i class="fa fa-caret-right"></i> <a href="/faq">FAQ</a> <i class="fa fa-caret-right"></i> <a href="/terms">TERMS & CONDITIONS</a></span></p>
          <p><span><a href="/about">ABOUT</a> <i class="fa fa-caret-right"></i> <a href="/businesses">STORES</a> <i class="fa fa-caret-right"></i> <a href="/photos">GALLERY</a> <i class="fa fa-caret-right"></i> <a href="/designers">DESIGNERS</a> <i class="fa fa-caret-right"></i> <a href="/boroughs">LOCAL</a> <i class="fa fa-caret-right"></i> <a href="/messages/new">CONTACT</a></span></p>
          <p>CREATED WITH <i class="fa fa-heart"></i> IN NYC <i class="fa fa-caret-right"></i> &copy; 2014 <a href="/">CONSIGN.NYC</a></p>
        <br>
      </div>
    </div>  
  </div>
</section>
<!-- *** FOOTER END *** -->

