<!-- *** FOOTER START *** -->
  <section id="footer">
    <!-- <a class="toTop text-center" href="#home"><i class="fa fa-angle-double-up"></i></a> -->
    <div class="container">
      <div class="row divide">
        <div align="center">
          
          <div class="btn-group">
            <a href="#" class="btn btn-default"><span class="fa fa-facebook"></span></a>
            <a href="#" class="btn btn-default"><span class="fa fa-twitter"></span></a>
            <a href="#" class="btn btn-default"><span class="fa fa-google-plus"></span></a>
<!--               <a href="#" class="btn btn-default"><span class="fa fa-linkedin"></span></a>
            <a href="#" class="btn btn-default"><span class="fa fa-behance"></span></a>
            <a href="#" class="btn btn-default"><span class="fa fa-dribbble"></span></a> -->
          </div>
          <p><span><a href="/terms">TERMS & CONDITIONS</a></span></p>
          <p>CREATED WITH <i class="fa fa-heart"></i> IN NYC | COPYRIGHT 2014 <a href="/">CONSIGN.NYC</a></p>
          <br>
        </div>
      </div>  
    </div>
  </section>
<!-- *** FOOTER END *** -->